/************************************************************************/
/*	PAGE
/************************************************************************/



body{
	 background: #fff;
	 -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}
h1{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
  padding: 0;
  margin: 0;
}
h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a4a3;
  padding: 0;
  margin: 0;
}
.clear{
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}



/*********************************      *****************       **********************/
/*	APP 
/*********************************       ****************       ***********************/



/************************************************************************/
/*	CREATION
/************************************************************************/


#creation{
  max-width: 600px;
  margin: 0 auto;
}
#creation h1, #creation h2{
  text-align: center;
}
#creation h1{
  padding: 15px 0;
  margin-top: 15px;
  border: 1px solid grey;
}
#creation h2{
  padding: 35px 0;
}

#chooseBoy{
  background: url('../img/creation-boy.png') no-repeat center center;
  z-index: 10;
}
#chooseGirl{
  background: url('../img/creation-girl.png') no-repeat center center;
  z-index: 5;
}
.choose{
  width: 258px;
  height: 188px;
  float: left;
  margin: 0 21px;
  margin-top: 50px;
  position: relative;
}
.choose img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: -48px;
}
.choose p{
  text-align: center;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
  margin: 0;
  margin-top: -15px;
}
.choose a{
  display: block;
  height: 188px;
  width: 258px;
  text-decoration: none;
}
#chooseBoy:before{
  content:"OR";
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 18px;
  height: 63px;
  width: 63px;
  border-radius: 100%;
  display: block;
  background: #a7a4a3;
  color: white;
  text-align: center;
  line-height: 63px;
  position: absolute;
  top: 50%;
  right: -50px;
  margin-top: -31px;
  z-index: 15;
  opacity: 1 !important;
}
.choose{
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#chooseBoy:hover, #chooseGirl:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#chooseBoy:hover #chooseBoy:before{
  opacity: 1 !important;
  z-index: 15;
}






















