/************************************************************************/
/*	PAGE
/************************************************************************/

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
	 background: #fff;
	 -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
}
::selection {
  background-color: transparent;
}
:focus{
  outline: none;
}
p{
  line-height: 1.5;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    border:0;
}
h1{
  padding: 0;
  margin: 0;
}
h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a4a3;
  padding: 0;
  margin: 0;
  text-align: center;
}
.wrapper{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.clear{
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a:focus{ 
  outline:0; 
  outline: none;
} 
.boutonsubmit::-moz-focus-inner{
    border:0;
}
input{
  color: #555;
}
a{
  -webkit-tap-highlight-color: transparent;
}


/************************************************************************/
/*	LANDING
/************************************************************************/


/*************/
/*	HEADER LANDING
/*************/

.landing h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 36px;
  color: #8d8d8d;
  text-transform: uppercase;
}
.landing h3{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 23px;
  color: #8d8d8d;
  text-transform: uppercase;
}

#header-landing{
  background: #2d2529;
  position: relative;
  height: 504px;
  z-index: 1;
  border-bottom: 8px solid rgba(66,32,32,.4);
  background: url('../img/landing/pattern.png') top left, url('../img/landing/background-header-right.jpg');
}
#header-landing .wrapper-landing{
  background: url('../img/landing/header-background-left.svg') no-repeat left top, url('../img/landing/logo-adventurechain-background.svg') no-repeat 190px 90px;
}
.wrapper-landing{
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (max-width: 1080px){
  .wrapper-landing{
    padding: 0 20px;
  }
}
#header-landing .wrapper-landing{
  padding-top: 80px;
  z-index: 10;
}
.hl-left{
  float: left;
  /* margin-right: 117px; */
  margin-right: 10.8333333333%;
  /* margin-left: 45px; */
  margin-left: 4.16666666667%;
  position: relative;
  bottom: 10px;
}
.hl-right{
  float: left;
}
#header-landing h1{
  margin-bottom: 75px;
}
#header-landing h2{
  padding: 0;
  border-bottom: 2px solid #89515b;
  color: #fff9de;
  padding-bottom: 13px;
}
#header-landing p strong{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #bfb0af;
  margin-right: 45px;
}
#header-landing p{
  margin-bottom: 50px;
}
#header-landing a{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff9de;
  background: #89515b;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  margin-left: 20px;
  padding-bottom: 12px;
  border-bottom: 4px solid rgba(66,32,32,.6);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#header-landing a:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#header-backgroundColor{
  position: absolute;
  height: 512px;
  width: 26%;
  left: 0;
  top: 0;
  background: #2E262A;
  z-index: -1;
}
#pHeaderLanding{
  background: #583e45;
  float: left;
  max-width: 422px;
  height: 100px;
  padding: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 3190px){
  #header-backgroundColor{
    width: 35%;
  }
}
@media screen and (max-width: 3060px){
  #header-backgroundColor{
    width: 33%;
  }
}
@media screen and (max-width: 2700px){
  #header-backgroundColor{
    width: 30%;
  }
}
@media screen and (max-width: 2310px){
  #header-backgroundColor{
    width: 27%;
  }
}
@media screen and (max-width: 2010px){
  #header-backgroundColor{
    width: 23%;
  }
}
@media screen and (max-width: 1900px){
  #header-backgroundColor{
    width: 22%;
  }
}
@media screen and (max-width: 1640px){
  #header-backgroundColor{
    width: 17%;
  }
}
@media screen and (max-width: 1400px){
  #header-backgroundColor{
    width: 12%;
  }
}
@media screen and (max-width: 1220px){
  #header-backgroundColor{
    width: 6%;
  }
}

/*************/
/*	HEADER LANDING RESPONSIVE
/*************/

@media screen and (max-width: 1080px){
  #header-landing .wrapper-landing{
    background: url('../img/landing/header-background-left.svg') no-repeat left top, url('../img/landing/logo-adventurechain-background.svg') no-repeat 200px 90px;
  }
}
@media screen and (max-width: 1062px){
  #header-landing h2{
    font-size: 30px;
  }
  #pHeaderLanding{
    max-width: 353px;
  }
  #header-landing .wrapper-landing{
    background: url('../img/landing/header-background-left.svg') no-repeat left top, url('../img/landing/logo-adventurechain-background.svg') no-repeat 195px 90px;
  }
}
@media screen and (max-width: 981px){
  #header-landing .wrapper-landing{
    background: url('../img/landing/header-background-left.svg') no-repeat left top, url('../img/landing/logo-adventurechain-background.svg') no-repeat 185px 90px;
  }
  #header-landing h2{
    font-size: 24px;
  }
  #pHeaderLanding{
    max-width: 287px;
  }
  #header-landing p strong{
    font-size: 18px;
    margin-right: 0;
  }
}
@media screen and (max-width: 948px){
  .hl-left{
    margin-left: 0;
    margin-right: 5%;
  }
  #header-landing .wrapper-landing{
    background: url('../img/landing/header-background-left.svg') no-repeat left top, url('../img/landing/logo-adventurechain-background.svg') no-repeat 90px 90px;
  }
}
@media screen and (max-width: 854px){
  .hl-left{
    width: 40%;
    margin-top: 12%;
  }
  #header-landing .wrapper-landing{
    position: relative;
    height: 504px;
    background: url('../img/landing/logo-adventurechain-background.svg') no-repeat center 90px, url('../img/landing/header-background-left.svg') no-repeat left top;
  }
  #header-landing h1{
    position: relative;
    left: -72px;
  }
}
@media screen and (max-width: 754px){
  .hl-left{
    margin-top: 16%;
  }
}
@media screen and (max-width: 717px){
  .hl-left{
    width: 30%;
    margin-top: 23%;
  }
}
@media screen and (max-width: 655px){
  .hl-left{
    display: none;
  }
  #header-landing h2{
  font-size: 36px;
  }
  #header-landing p strong{
    font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #bfb0af;
    margin-right: 45px;
  }
  #header-landing h1{
    position: absolute;
    left: 50%;
    margin-left: -183px;
    margin-bottom: 0;
    top: 38px;
  }
  #pHeaderLanding{
    max-width: 422px;
    position: absolute;
    left: 50%;
    top: 47%;
    margin-left: -231px;
    margin-top: -70px;
  }
  #header-landing a{
    position: absolute;
    left: 50%;
    top: 72%;
    margin-left: -104px;
    margin-top: -29px;
  }
  #header-landing .wrapper-landing{
    background: url('../img/landing/logo-adventurechain-backgroundResponsive.svg') no-repeat center 45px;
  }  
  #header-backgroundColor{
    display: none;
  }
  #header-landing .wrapper-landing, #header-landing{
    height: 410px;
  }
}
@media screen and (max-width: 500px){
  #header-landing h2 {
    font-size: 28px;
  }
  #pHeaderLanding{
    max-width: 332px;
    margin-left: -186px;
  }
  #header-landing p strong{
    font-size: 18px;
  }
}
@media screen and (max-width: 410px){
  #header-landing h2 {
    font-size: 19px;
  }
  #pHeaderLanding{
    max-width: 240px;
    margin-left: -140px;
    top: 42%;
  }
  #header-landing p strong{
    font-size: 14px;
  }
  #header-landing h1 img{
    width: 251px;
  }
  #header-landing h1{
    margin-left: -126px;
  }
  #header-landing .wrapper-landing{
    background: transparent;
  }
  #header-landing .wrapper-landing, #header-landing{
    height: 350px;
  }
  #header-landing a{
    top: 70%;
  }
}



/*************/
/*	WORK LANDING
/*************/

#work-landing{
  background: #fafaea;
}
#work-landing h2{
  padding-top: 60px;
  color: #4f3f47;
  padding-bottom: 45px;
}
#work-landing p{
  font-size: 18px;
  color: #583e45;
  margin: 0;
  text-align: center;
  max-width: 711px;
  display: block;
  margin: 0 auto;
}
#work-landing .wrapper-landing{
  padding-bottom: 90px;
}
#work-landing p span{
  color: #b6aba5;
}
#work-img-chain{
  margin: 0 auto;
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  max-width: 100%;
}

/*************/
/*	LIST LANDING
/*************/

#list-landing{
  background: #f2eedd url('../img/landing/pattern-white.png') top left;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 50px 0;
}
#list-landing ul{
  float: left;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
#list-landing ul li{
  max-width: 100%;
  text-align: center;
  float: left;
  /* width: 343px; */
  width: 31.7592592593%;
  /* margin-left: 25px; */
  margin-left: 2.31481481481%;
}
#list-landing ul li:first-of-type{
  margin-left: 0;
}
#list-landing ul li h3{
  font-size: 20px;
  color: #897777;
  background: #fafaea;
  padding: 7px 10px;
  display: inline-block;
  margin: 0px;
}
#list-landing ul li img{
  margin: 35px 0 25px 0;
}
#list-landing ul li p{
  font-size: 18px;
  color: #897777;
  text-align: left;
  margin: 0 20px;
}
#list-landing ul li p span{
  color: #b6aba5;
}
#list-landing ul li h3 span{
  font-weight: 500;
  font-size: 18px;
}
.work-spanTitle{
  font-size: 13px !important;
  color: #fafaea;
  background: #897777;
  border-radius: 100%;
  padding: 4px 8px 4px 8px;
  text-align: center;
  line-height: 15px;
  margin-right: 10px;
  position: relative;
  bottom: 3px;
}

/*************/
/*	LIST LANDING RESPONSIVE
/*************/

@media screen and (max-width: 1080px){
  #list-landing ul li h3{
    font-size: 18px;
  }
  #list-landing ul li h3 span{
    font-size: 17px;
  }
}
@media screen and (max-width: 1035px){
  #list-landing ul li h3{
    font-size: 16px;
  }
  #list-landing ul li h3 span{
    font-size: 15px;
  }
}
@media screen and (max-width: 950px){
  #list-landing ul li h3{
    font-size: 14px;
  }
  #list-landing ul li h3 span{
    font-size: 13px;
  }
}
@media screen and (max-width: 870px){
  #list-landing ul li h3{
    font-size: 12px;
  }
  #list-landing ul li h3 span{
    font-size: 11px;
  }
  #list-landing ul li p{
    font-size: 16px;
    margin: 0 2.46913580247%;
  }
  .work-spanTitle{
    bottom: 0;
  }
}
@media screen and (max-width: 790px){
  #list-landing ul li{
    float: none;
    margin: 0 auto !important;
    margin-top: 35px !important;
    width: 343px;
  }
  #list-landing ul li:first-of-type{
    margin-top: 0 !important;
  }
  #list-landing ul li h3{
    font-size: 20px;
  }
  #list-landing ul li h3 span{
    font-size: 18px;
  }
  #list-landing ul{
    float: none;
  }
  .work-spanTitle{
    bottom: 3px;
  }
}
@media screen and (max-width: 391px){
  #list-landing ul li h3{
    font-size: 16px;
  }
  #list-landing ul li h3 span{
    font-size: 15px;
  }
  .work-spanTitle{
    bottom: 0;
  }
}
@media screen and (max-width: 338px){
  #list-landing ul li h3{
    font-size: 14px;
  }
  #list-landing ul li h3 span{
    font-size: 13px;
  }
}


/*************/
/*	ESAY LANDING
/*************/

#easy-landing{
  padding-top: 80px;
  position: relative;
  background: #fafaea;
  overflow: hidden;
}
#easy-landing .wrapper-landing{
  max-width: 945px;
  position: relative;
  padding-bottom: 80px;
}
#easy-landing p{
  color: #897777;
  font-size: 18px;
  margin: 0;
  max-width: 100%;
  /* width: 465px; */
  width: 49.2063492063%;
}
#easy-landing h2{
  text-align: left;
  padding-top: 225px;
  color: #4f3f47;
  padding-bottom: 45px;
}
#easy-landing p, #easy-landing h2{
  float: left;
}
#easy-landing img{
  float: right;
  z-index: 5;
  position: relative;
  max-width: 100%;
}
#shadow-easy{
  float: none;
  position: absolute !important;
  bottom: 0;
  right: -794px;
  z-index: 1 !important;
  max-width: initial !important;
}
@media screen and (max-width: 1080px){
  #shadow-easy{
    right: -774px;
  }
}
@media screen and (max-width: 835px){
  #easy-landing p{
    width: 40%;
  }
}
@media screen and (max-width: 725px){
  #easy-landing h2{
    padding-top: 0;
    width: 100%;
  }
  #easy-landing p{
    width: 100%;
    float: none;
  }
  #easy-landing img{
    position: absolute;
    top: 180px;
    width: 389px;
    margin-left: -194px;
    left: 50%;
  }
  #easy-landing .wrapper-landing{
    height: 885px;
  }
  #shadow-easy{
    top: 180px !important;
    right: 0;
    width: initial !important;
  }
}
@media screen and (max-width: 460px){
  #easy-landing img{
    top: 200px;
    width: 265px;
    margin-left: -132px;
  }
  #easy-landing{
    padding-top: 60px;
  }
  #easy-landing .wrapper-landing{
    height: 660px;
  }
  #shadow-easy{
    top: 200px !important;
    right: 0;
    width: 814px !important;
  }
}
@media screen and (max-width: 333px){
  #easy-landing img{
    top: 220px;
  }
  #easy-landing .wrapper-landing{
    height: 680px;
  }
  #shadow-easy{
    top: 220px !important;
  }
}


/*************/
/*	INSTALL LANDING
/*************/

#install-landing{
  background: #ede8d6;
}
#install-landing .wrapper-landing{
  max-width: 711px;
  padding-top: 60px;
  padding-bottom: 140px;
}
#install-landing h2{
  color: #4f3f47;
  text-align: left;
  margin-top: 15px;
}
#install-landing p{
  color: #897777;
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 175px;
}
#install-landing p a{
  color: #5e5454;
  text-decoration: none;
  border-bottom: 1px solid #5e5454;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#install-landing p a:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
  border-bottom: 1px solid transparent;
}
#install-landing p img{
  margin: 0 5px;
}
#installAppimg{
  float: left;
  margin: 0 48px;
}
@media screen and (max-width: 713px){
  #installAppimg{
    margin-top: 15px;
  }
}
@media screen and (max-width: 706px){
  #installAppimg{
    margin-top: 30px;
  }
}
@media screen and (max-width: 619px){
  #install-landing h2{
    font-size: 32px;
  }
}
@media screen and (max-width: 577px){
  #install-landing h2{
    font-size: 26px;
  }
  #installAppimg{
    margin-top: 25px;
  }
}
@media screen and (max-width: 516px){
  #install-landing p{
    font-size: 16px;
  }
  #install-landing h2{
    font-size: 22px;
  }
  #installAppimg{
    margin-top: 13px;
  }
}
@media screen and (max-width: 475px){
  #installAppimg{
    margin-top: 30px;
  }
}
@media screen and (max-width: 444px){
  #installAppimg{
    position: relative;
    right: 25px;
    margin-right: 0;
    margin-top: 15px;
  }
  #install-landing p{
    margin-left: 0;
  }
}
@media screen and (max-width: 427px){
  #installAppimg {
    margin-top: 25px;
  }
}
@media screen and (max-width: 399px){
  #installAppimg{
    float: none;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    right: 0;
  }
}


/*************/
/*	START LANDING
/*************/

#start-landing{
  background: #2d2529;
  padding: 73px;
  position: relative;
  background: url('../img/landing/pattern.png') top left, url('../img/landing/pattern-footer.png');
}
#start-landing p{
  text-align: center;
  margin: 0;
  z-index: 10;
  position: relative;
}
#start-landing p:after{
  content: "it's FREE !";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  margin-left: 120px;
  margin-top: -10px;
  font-size: 14px;
  color: #f4e6c9;
  font-weight: 700;
}
#start-landing a{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff9de;
  background: #c93d3d;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 12px;
  margin-left: 20px;
  z-index: 10;
  border-bottom: 4px solid rgba(89,46,46,.6);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#start-landing a:hover{
  background: #c03535;
}
#monster-started{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -172px;
  z-index: 1;
}

/*************/
/*	RESPONSIVE START
/*************/

@media screen and (max-width: 455px){
  #start-landing p:after{
    position: relative;
    left: 0;
    top: 25px;
    margin-top: 0;
    margin-left: 0;
    left: 90px;
  }
  #start-landing p:after{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: 26px;
  }
  #start-landing{
    padding: 73px 0;
  }
}
@media screen and (max-width: 420px){
  #start-landing {
    padding: 74px 0;
  }
}
@media screen and (max-width: 411px){
  #start-landing p:after{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: 26px;
  }
}
@media screen and (max-width: 350px){
  #monster-started{
    margin-left: -120px;
  }
}

/*************/
/*	CREDIT LANDING
/*************/

#credit-landing{
  background: #3f2930;
  height: 30px;
}
#credit-landing a{
  color: #725a63;
  text-decoration: none;
  background: #2d1e23;
  font-size: 12px;
  float: right;
  line-height: 30px;
  padding: 0 15px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#credit-landing a:hover{
  background: #23171b;
}


/*********************************      *****************       **********************/
/*	APP 
/*********************************       ****************       ***********************/



/************************************************************************/
/*	CREATION SEX
/************************************************************************/

/*************/
/*	CREATION SEX ANIMATION
/*************/

@-webkit-keyframes bg-home {
  0%   { background-position:0 0; }
  50% { background-position:-960px -360px; }
  100% { background-position:0 0; }
}
@-moz-keyframes bg-home {
  0%   { background-position:0 0; }
  50% { background-position:-960px -360px; }
  100% { background-position:0 0; }
}
@-o-keyframes bg-home {
  0%   { background-position:0 0; }
  50% { background-position:-960px -360px; }
  100% { background-position:0 0; }
}
@-ms-keyframes bg-home {
  0%   { background-position:0 0; }
  50% { background-position:-960px -360px; }
  100% { background-position:0 0; }
}
@keyframes bg-home {
  0%   { background-position:0 0; }
  50% { background-position:-960px -360px; }
  100% { background-position:0 0; }
}

/*************/
/*	END ANIMATION
/*************/

#creationbg{
  background: #dde9c6;
  background: -moz-linear-gradient(top, #dde9c6 0%, #9fd5bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dde9c6), color-stop(100%,#9fd5bb));
  background: -webkit-linear-gradient(top, #dde9c6 0%,#9fd5bb 100%);
  background: -o-linear-gradient(top, #dde9c6 0%,#9fd5bb 100%);
  background: -ms-linear-gradient(top, #dde9c6 0%,#9fd5bb 100%);
  background: linear-gradient(to bottom, #dde9c6 0%,#9fd5bb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde9c6', endColorstr='#9fd5bb',GradientType=0 );
}
#creationbg #page{
  min-height: 100%;
  background: url('../img/creation/iconpattern.svg') top left;
  -webkit-animation: bg-home 100s linear infinite;
  -moz-animation: bg-home 100s linear infinite;
  -o-animation: bg-home 100s linear infinite;
  -ms-animation: bg-home 100s linear infinite;
  animation: bg-home 100s linear infinite;
}
#creationSex, #creationFace, #creationName{
  background: url('../img/creation/header-wooder.svg') repeat-X center top;
  padding-top: 20px;
}
#creationbg h1{
  background: url('../img/creation/header-creationSex.svg') no-repeat center;
  text-indent: -9999px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
#creationbg h2{
  color: #fdfbec;
  background: #aacfb4;
  width: 310px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 75px;
}
#creationbg body{
  min-height: 100%;
}


.choose{
  width: 258px;
  height: 188px;
  float: left;
  margin: 0 21px;
  margin-top: 50px;
  position: relative;
  background: url('../img/creation/choose-creation.svg') no-repeat center center;
}
.choose img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: -85px;
}
.choose a{
  display: block;
  height: 188px;
  width: 258px;
  text-decoration: none;
}
#chooseBoy{
  z-index: 10;
}
#chooseGirl{
  z-index: 5;
}
#chooseBoy:before{
  content:"OR";
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 18px;
  height: 76px;
  width: 76px;
  color: #a25552;
  background: url('../img/creation/or-creationSex.svg') no-repeat center center;
  display: block;
  text-align: center;
  line-height: 76px;
  position: absolute;
  top: 50%;
  right: -60px;
  margin-top: -31px;
  z-index: 15;
  opacity: 1 !important;
}
.choose{
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#chooseBoy:hover, #chooseGirl:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#chooseBoy:hover #chooseBoy:before{
  opacity: 1 !important;
  z-index: 15;
}
.choose p{
  text-align: center;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fdfbec;
  margin: 0;
  background: url('../img/creation/genre-background.svg') no-repeat center center;
  height: 37px;
  width: 100%;
  line-height: 37px;
  position: absolute;
  bottom: 0;
}


/*************/
/*	RESPONSIVE SEX CHOOSE
/*************/

@media screen and (max-width: 599px){
  .choose{
    float: none;
    margin: 0 auto;
    margin-top: 120px;
  }
  #chooseBoy:before{
    bottom: 0;
    left: 50%;
    margin-left: -38px;
    margin-top: 120px;
  }
  #chooseGirl{
    margin-top: 210px;
  }
  #creationSex{
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 350px){
  #creationSex h2, #creationFace h2{
    max-width: 88%;
    font-size: 14px;
  }
}







/************************************************************************/
/*	CREATION FACE
/************************************************************************/


/*************/
/*	SLIDER
/*************/


#creationFace h2{
  margin-bottom: 0;
}
.visibleNearby {
  width: 100%;
  background: url('../img/creation/background-slider.svg') no-repeat center center;
  color: #FFF;
}
.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  background: #141414;
  width: 100%;
  position: static;
  float: left;
  left: auto;
  bottom: auto;
  text-align: center;
  display: none;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
  display: none;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.9);  
  -moz-transform: scale(0.9); 
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) { 
  #gallery-1 {
    padding: 12px 0 12px;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
}

/*************/
/*	END SLIDER
/*************/


.wrapper-button{
  padding: 25px 0 20px 0;
}
.face-button{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff9de;
  background: #c93d3d;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 12px;
  z-index: 10;
  border-bottom: 4px solid rgba(89,46,46,.6);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.face-back{
  background: #f7f7df;
  border-bottom: none;
  color: #548676;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  left: 20px;
}
.face-back:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
.face-complete{
  /* margin-left: 160px; */
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -27px;
  position: absolute;
}
.face-complete:hover{
  background: #c03535;
}
@media screen and (max-width: 1040px){
  .wrapper-button{
    position: relative;
    top: 20px;
  }
  .visibleNearby{
    padding: 20px 0;
  }
}
@media screen and (max-width: 500px){
  .visibleNearby {
    padding: 40px 0 !important;
  }
  .face-back{
    left: 50%;
    margin-left: -40px;
    margin-top: 50px;
  }
}



/************************************************************************/
/*	CREATION NAME
/************************************************************************/


#name{
  background: #fdfbec;
  border: none;
  padding: 15px;
  display: block;
  width: 305px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 16px;
}
#creationName h2{
  margin-bottom: 50px;
}




/************************************************************************/
/*	APP
/************************************************************************/


.app-page{
  background: #bc6f68;
}
#app{
  background: url('../img/background-app.svg') center 57px no-repeat, url('../img/background-top.svg') top center;
  height: 571px;
}
#app .wrapper{
  height: 571px;
}
#speudo{
  background: url('../img/speudo.svg') no-repeat;
  width: 151px;
  height: 53px;
  position: relative;
  clear: both;
  float: right;
  margin: -50px 130px 20px 0;
}
#speudo p{
  text-align: center;
  margin-left: 10px;
  margin: 0;
  line-height: 53px;
  font-size: 21px;
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  color: white;
}
#level{
  background: url('../img/level-background.svg') no-repeat;
  height: 106px;
  width: 79px;
  margin-right: 180px;
  position: relative;
  clear: both;
  float: right;
}
#level p{
  line-height: 55px;
  font-size: 19px;
  margin: 0 0 0 12px;
  font-weight: 700;
  color: #b89e75;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
}
#level p span{
  background: url('../img/level-power.svg') no-repeat;
  height: 70px;
  width: 67px;
  display: block;
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #f1f5e0;
  font-size: 45px;
  text-align: center;
  line-height: 67px;
  text-shadow: 0px 4px 0px  rgba(185, 55, 32, 1);
  position: absolute;
  top: -8px;
  right: -50px;
}
#panneau{
  width: 228px;
  height: 129px;
  margin: 0 35px 0 0;
  bottom: 40px;
  position: relative;
  clear: both;
  float: right;
  background: url('../img/panneau.svg') no-repeat;
}
#panneau p img{
  position: relative;
  top: 4px;
}
#money{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
  position: relative;
  width: 120px;
  float: right;
  margin: 0;
  margin-right: 16px;
}
#score{
  position: relative;
  float: right;
}
#score:before{
  background: url('../img/coin.svg') no-repeat;
  content: '';
  width: 19px;
  height: 22px;
  display: block;
  float: right;
  margin-left: 8px;
  position: relative;
  top: 3px;
}
#Date, #DateDernierClick{
  display: none;
}
#experience, #needExperience, #panneau p:first-of-type, #tweetIt{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
}
#experience{
  margin-right: 7px;
  margin-left: 20px;
}
#needExperience{
  font-size: 14px;
  color: #ddd1c5;
}
#panneau p:first-of-type{
  color: #d1bfa6;
  margin-bottom: 39px;
}
#tweetIt{
  font-size: 15px;
  color: white;
  background: url('../img/tweetIt.png') no-repeat;
  width: 76px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  float: left;
  text-decoration: none;
  margin-left: 16px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#tweetIt:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
.button-page{
  float: left;
  clear: both;
  margin-top: 20px;
  margin-left: 2px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.button-page:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#app .button-page:first-of-type{
  margin-top: 40px;
  margin-left: 0;
}
#personnage{
  left: 75px;
  top: 95px;
  height: 315px;
  width: 176px;
  position: relative;
}
.personnage-item{
  position: absolute;
}

/*************/
/*	BOUTON APP
/*************/


#appButton{
  position: relative;
  background: #bc6f68;
  padding: 50px 0 20px 0;
  height: 410px;
}
#appButton .wrapper{
  height: 100%;
  background: url('../img/app-caillou.svg') no-repeat;
}
#clickme{
  background: url('../img/clickme.png') no-repeat;
  width: 186px;
  height: 200px;
  /* border: 15px solid #916552; */
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*************/
/*	AJOUTER UNE LIST
/*************/

#addchain, #deletechain{
  /* background: url('../img/addchain.svg') no-repeat; */
  height: 48px;
  width: 48px;
  cursor: pointer;
  float: right;
  position: relative;
  bottom: 68px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#deletechain{
  clear: both;
  margin-top: 25px;
}
#addchain:hover, #deletechain:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#addchainmove g rect, #deletechainmove path{
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#addchain:hover #addchainmove g rect, #deletechain:hover #deletechainmove path{
  fill: white;
}
.chainpop label{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  color: #fcebed;
  background: #d99590;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}
.chainpop {
  background: #fdfcee;
  width: 385px;
  display: none;
  border: 5px solid #5e514a;
  position: absolute;
  left: 50%;
  margin-left: -192px;
  z-index: 20;
}
#habitudeAAjouter{
  background: #f6ece0;
  border: none;
  padding: 15px;
  margin: 25px 0 25px 25px;
}

#chain_submit{
  border: none;
  color: #fcebed;
  background: #bc6f68;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  top: 2px;
  padding: 9px;
  right: 4px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#chain_submit:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
::-webkit-input-placeholder {
   color: #be8984;
   font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif !important;
   font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #be8984;
   font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif !important;
   font-size: 18px; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #be8984;
   font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif !important;
   font-size: 18px;
}

:-ms-input-placeholder {  
   color: #be8984;
   font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif !important;
   font-size: 18px; 
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

/*************/
/*	SELECT LIST
/*************/

#mainhabitude{
  overflow:hidden;
  max-width: 315px;
  height: 48px;
  
  margin-left: 35px;    
  margin: 0 auto;
  border: 10px solid #e7958d;
  background: #fff url('../img/dropdown-arrow.svg') no-repeat right 0px;
}
#mainhabitude:after{
  content: "";
  display: block;
  background: url('../img/habitude-background.svg') no-repeat center bottom;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 53px;
}
#mainhabitude select{
  border: 0;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #777;
  -webkit-appearance: none;
 -moz-appearance: window;
 appearance: none;
 max-width: 315px;
 width: 100%;
 overflow: hidden;
 line-height: 48px;
 cursor: pointer;
 padding-left: 15px;
 height: 48px;
 background: transparent;
}
@-moz-document url-prefix()
{
    #mainhabitude select {
        padding-top: 14px;
    }
}

/*************/
/*	RESPONSIVE APP
/*************/

@media screen and (max-width: 640px){
  #addchain, #deletechain{
    margin-right: 20px;
  }
}
@media screen and (max-width: 621px){
  #app{
    height: 795px;
    background: url('../img/background-app-responsive.svg') -15px 67px no-repeat, url('../img/background-app-responsive-circle.svg') center 375px no-repeat, url('../img/background-top-responsive.svg') top center;
  }
  #app .wrapper{
    height: 795px;
  }
  #speudo{
    background: url('../img/speudo-responsive.svg') no-repeat;
    margin-top: 220px;
    /* margin-right: 230px; */
    margin-right: 38.3333333333%;
  }
  #panneau{
    /* margin-right: 160px; */
    margin-right: 26.6666666667%;
  }
  #level{
    /* margin-right: 300px; */
    margin-right: 50%;
  }
  #personnage{
    position: absolute;
    left: 50%;
    margin-left: -88px;
  }
  .button-page, #app .button-page:first-of-type{
    margin-left: 20px;
  }
}
@media screen and (max-width: 515px){
  #addchain{
    margin-top: 100px;
    float: left;
    margin-left: 36%;
  }
  #deletechain{
    clear: none;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
  }
  #clickme{
    margin-top: 110px;
  }
  .chainpop{
    max-width: 300px;
    margin-left: -150px;
  }
  #habitudeAAjouter{
    max-width: 175px;
    margin-left: 15px;
  }
  #chain_submit{
    margin-right: 12px;
  }
  ::-webkit-input-placeholder{
    color: #f6ece0;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #f6ece0;
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #f6ece0;
  }
  
  :-ms-input-placeholder {  
     color: #f6ece0;
  }
}
@media screen and (max-width: 490px){
  #app{
    background: url('../img/background-app-responsive.svg') -100px 67px no-repeat, url('../img/background-app-responsive-circle.svg') center 375px no-repeat, url('../img/background-top-responsive.svg') top center;
  }
  #addchain{
    margin-left: 35%;
  }
}
@media screen and (max-width: 450px){
  #mainhabitude{
    width: 85%;
  }
  #panneau{
    margin-right: 20%;
  }
  #habitude{
    width: 100%;
  }
  #addchain{
    margin-left: 33%;
  }
}
@media screen and (max-width: 400px){
  .button-page:last-of-type{
    float: none;
  }
  .button-page:last-of-type img, .button-page, #app .button-page:first-of-type{
    margin-top: 20px;
  }
  #speudo{
    margin-top: 340px;
  }  
  #addchain{
    margin-left: 32%;
  }
}
@media screen and (max-width: 380px){
  #speudo{
    margin-right: 32%;
  }
  #panneau{
    margin-right: 15%;
  }
  #addchain{
    margin-left: 31%;
  }
}
@media screen and (max-width: 320px){
  #speudo{
    margin-right: 28%;
  }
  #panneau{
    margin-right: 11%;
  }
  #addchain{
    margin-left: 27%;
  }
}



/************************************************************************/
/*	SHOP
/************************************************************************/

.shop #page{
  background: url('../img/shop/header-wooder.svg') repeat-X center top;
  padding-top: 20px;
}
#shop{
  background: rgb(155,207,176);
  background: -moz-linear-gradient(top, rgba(155,207,176,1) 0%, rgba(218,235,220,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,207,176,1)), color-stop(100%,rgba(218,235,220,1)));
  background: -webkit-linear-gradient(top, rgba(155,207,176,1) 0%,rgba(218,235,220,1) 100%);
  background: -o-linear-gradient(top, rgba(155,207,176,1) 0%,rgba(218,235,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(155,207,176,1) 0%,rgba(218,235,220,1) 100%);
  background: linear-gradient(to bottom, rgba(155,207,176,1) 0%,rgba(218,235,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcfb0', endColorstr='#daebdc',GradientType=0 );
}
#shop .wrapper{
  /* background: url(../img/shop/shop-amoire.svg) no-repeat bottom center; */
  /* padding-bottom: 65px; */
}
#shop h1{
  background: url('../img/shop/header-shop.svg') no-repeat center;
  text-indent: -9999px;
  height: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
#back-shop{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff9de;
  background: #89515b;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 20px;
  position: absolute;
  padding-bottom: 6px;
  top: 10px;
  left: 0;
  border-bottom: 4px solid rgba(66,32,32,.6);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#back-shop:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}


#gold{
  position: absolute;
  right: 0;
  top: -20px;
  height: 20px;
  background: #9a504d;
  width: 80px;
  font-size: 18px;
  padding-right: 10px;
  line-height: 20px;
  color: #fdfbec;
  text-align: right;
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
}
#gold:before{
  background: url('../img/shop/coin-shop.svg') no-repeat;
  content: '';
  width: 19px;
  height: 22px;
  display: block;
  float: right;
  margin-left: 8px;
  position: relative;
  top: 4px;
}



#head-shop{
  background: #d57563;
  background: url('../img/shop/head-top-background.svg') no-repeat left top;
  max-width: 86%;
  height: 30px;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
}
#head-shop li{
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  background: url('../img/shop/background-titre-item.svg') no-repeat center center;
  font-size: 16px;
  color: #fdfbec;
  float: left;
  line-height: 30px;
  /* width: 172px; */
  width: 33.3333333333%;
  max-width: 100%;
  text-align: center;
}
#content-item{
  max-width: 86%;
  margin: 0 auto;
  background: url('../img/shop/content-item-background.svg') no-repeat center center;
  border: 9px solid #a25552;
  border-top: 8px solid #a25552;
  border-bottom: 5px solid #a25552;
}
.wrapper-item{
  height: 350px;
 /*  width: 135px;   */
 width: 172px;
  overflow: hidden;
  float: left
}
.col-item{
  height: 350px;
  /* width: 150px; */
  width: 187px;
  overflow: auto;
}
.shop-item{
  width: 135px;
  height: 135px;
  text-indent: -9999px;
  background: url('../img/shop/shop-item-background.svg') no-repeat center top;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
.shop-item:after{
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-current:before{
  content: "";
  display: block;
  background: url('../img/shop/item-current.svg') no-repeat center 40px;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/*************/
/*	SHOP ITEM
/*************/

.shoes-1:after{
  background: url('../img/shop/shoes/shoes-1-shop.svg') no-repeat center 35px;
}
.shoes-2:after{
  background: url('../img/shop/shoes/shoes-2-shop.svg') no-repeat center 35px;
}
.shoes-3:after{
  background: url('../img/shop/shoes/shoes-3-shop.svg') no-repeat center 35px;
}
.shoes-4:after{
  background: url('../img/shop/shoes/shoes-4-shop.svg') no-repeat center 35px;
}

.pants-1:after{
  background: url('../img/shop/pants/pants-1-shop.svg') no-repeat center 35px;
}
.pants-2:after{
  background: url('../img/shop/pants/pants-2-shop.svg') no-repeat center 35px;
}
.pants-3:after{
  background: url('../img/shop/pants/pants-3-shop.svg') no-repeat center 35px;
}
.pants-4:after{
  background: url('../img/shop/pants/pants-4-shop.svg') no-repeat center 35px;
}
.pants-5:after{
  background: url('../img/shop/pants/pants-5-shop.svg') no-repeat center 35px;
}
.pants-6:after{
  background: url('../img/shop/pants/pants-6-shop.svg') no-repeat center 35px;
}

.top-1:after{
  background: url('../img/shop/top/top-1-shop.svg') no-repeat center 35px;
}
.top-2:after{
  background: url('../img/shop/top/top-2-shop.svg') no-repeat center 35px;
}
.top-3:after{
  background: url('../img/shop/top/top-3-shop.svg') no-repeat center 35px;
}
.top-4:after{
  background: url('../img/shop/top/top-4-shop.svg') no-repeat center 35px;
}
.top-5:after{
  background: url('../img/shop/top/top-5-shop.svg') no-repeat center 35px;
}
.top-6:after{
  background: url('../img/shop/top/top-6-shop.svg') no-repeat center 35px;
}

/*************/
/*	END SHOP ITEM
/*************/

#marchand{
  
  width: 100%;
  background: #5c8a83;
  background: -moz-linear-gradient(top, #5c8a83 0%, #bddaab 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c8a83), color-stop(100%,#bddaab));
  background: -webkit-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
  background: -o-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
  background: -ms-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
  background: linear-gradient(to bottom, #5c8a83 0%,#bddaab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c8a83', endColorstr='#bddaab',GradientType=0 );
}
#marchand .wrapper{
  background: url('../img/shop/marchand-back.svg') center 15px no-repeat;
  padding-bottom: 50px;
}
#buyMe{
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 40px;
}
#box-marchand{
  background: #fefcee;
  border: 8px solid #ce968f;
  position: relative;
  bottom: 85px;
}
#box-marchand:before{
   background: url('../img/shop/box-text-background.svg') no-repeat;
   content: "";
   width: 58px;
  height: 30px;
  position: absolute;
  top: -29px;
  left: 360px;
}
#text-marchand{
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  font-size: 18px;
  color: #cf9788;
  max-width: 440px;
  padding: 20px;
 /* border-right: 1px solid #ce968f;  */
 width: 75.3424657534%;
 margin: 0;
 padding-bottom: 40px;
}
#text-marchand span{
  color: #bb6d58;
}
#text-marchand img{
  position: relative;
  top: 4px;
}
#buyIt, #tryIt{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  width: 70px;
  text-align: center;
  height: 39px;
  line-height: 42px;
  margin: 0;
  position: absolute;
}
#buyIt{
  color: #fdfbec;
  background: #acd4ac;
  border-bottom: 3px solid #528775;
  right: 16px;
  top: 50%;
  margin-top: -21px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#buyIt:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}

#shop-armoire{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/*
#tryIt{
  color: #cf9788;
  border-bottom: 2px dotted #cf9788;
  width: 50px;
  height: 30px;
  right: 25px;
  bottom: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#tryIt:hover{
  border-bottom: 2px dotted transparent;
}
*/


/*************/
/*	RESPONSIVE SHOP 
/*************/

@media screen and (max-width: 615px){
  .wrapper-item{
    width: 33.3333333333%; 
  }
  #shop-armoire{
    max-width: 91%;
  }
}
@media screen and (max-width: 500px){
  .shop-item{
    margin: 0;
  }
}
@media screen and (max-width: 445px){
  .shop-item{
    width: 120px;
  }
}
@media screen and (max-width: 410px){
  .shop-item{
    width: 110px;
    background: url('../img/shop/shop-item-background-responsive.svg') no-repeat center top;
  }
}
@media screen and (max-width: 400px){
  #shop h1{
    background: url('../img/shop/header-shop.svg') no-repeat 150px;
  }
}
@media screen and (max-width: 365px){
  .shop-item{
    width: 98px;
  }
}
@media screen and (max-width: 340px){
  .shop-item{
    width: 92px;
  }
}
@media screen and (max-width: 320px){
  .col-item{
    width: 135px;
  }
  .wrapper-item{
    width: 87px;
  }
  .shop-item{
    width: 87px;
  }
  #shop-armoire{
    max-width: 93%;
  }
}

/*************/
/*	RESPONSIVE MARCHAND
/*************/

@media screen and (max-width: 635px){
  #box-marchand{
    max-width: 100%;
  }
  #marchand .wrapper{
    padding-bottom: 0;
  }
}
@media screen and (max-width: 540px){
  #box-marchand:before{
    left: 280px;
  }
}
@media screen and (max-width: 525px){
  #box-marchand{
    padding: 20px;
  }
  #text-marchand{
    max-width: 100%;
    width: 100%;
    padding: 0;
    padding-bottom: 75px;
  }
  #buyIt{
    left: 50%;
    margin-left: -35px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 395px){
  #box-marchand:before{
    left: 230px;
  }
}







