/************************************************************************/
/*	PAGE
/************************************************************************/


body{
	 background: #fff;
	 -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}
h1{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
  padding: 0;
  margin: 0;
}
h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a4a3;
  padding: 0;
  margin: 0;
}
.wrapper{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.clear{
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}



/*********************************      *****************       **********************/
/*	APP 
/*********************************       ****************       ***********************/



/************************************************************************/
/*	CREATION SEX
/************************************************************************/


#creationSex{
  max-width: 600px;
  margin: 0 auto;
}
#creationSex h1, #creationSex h2, #creationFace h1, #creationFace h2{
  text-align: center;
}
#creationSex h1, #creationFace h1{
  padding: 15px 0;
  margin-top: 15px;
  border: 1px solid grey;
}
#creationSex h2, #creationFace h2{
  padding: 35px 0;
}

#chooseBoy{
  background: url('../img/creation-boy.png') no-repeat center center;
  z-index: 10;
}
#chooseGirl{
  background: url('../img/creation-girl.png') no-repeat center center;
  z-index: 5;
}
.choose{
  width: 258px;
  height: 188px;
  float: left;
  margin: 0 21px;
  margin-top: 50px;
  position: relative;
}
.choose img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: -48px;
}
.choose p{
  text-align: center;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
  margin: 0;
  margin-top: -15px;
}
.choose a{
  display: block;
  height: 188px;
  width: 258px;
  text-decoration: none;
}
#chooseBoy:before{
  content:"OR";
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 18px;
  height: 63px;
  width: 63px;
  border-radius: 100%;
  display: block;
  background: #a7a4a3;
  color: white;
  text-align: center;
  line-height: 63px;
  position: absolute;
  top: 50%;
  right: -50px;
  margin-top: -31px;
  z-index: 15;
  opacity: 1 !important;
}
.choose{
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#chooseBoy:hover, #chooseGirl:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#chooseBoy:hover #chooseBoy:before{
  opacity: 1 !important;
  z-index: 15;
}


/************************************************************************/
/*	CREATION FACE
/************************************************************************/


/*************/
/*	SLIDER
/*************/

.visibleNearby {
  width: 100%;
  background: #141414;
  color: #FFF;
  padding-top: 25px;
}
.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  background: #141414;
  width: 100%;
  position: static;
  float: left;
  left: auto;
  bottom: auto;
  text-align: center;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.9);  
  -moz-transform: scale(0.9); 
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) { 
  #gallery-1 {
    padding: 12px 0 12px;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
}

/*************/
/*	END SLIDER
/*************/

.face-button{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #a7a4a3;
  background: #e0dfd7;
  padding: 15px 15px;
  font-size: 21px;
  margin: 30px 30px 50px 0;
  float: left;
  text-decoration: none;
}












/************************************************************************/
/*	APP
/************************************************************************/


.app-page{
  background: #a87255;
}
#app{
  background: url('../img/background-app.png') center 26px no-repeat, url('../img/background-top.png') top center;
  height: 571px;
}
#app .wrapper{
  height: 571px;
}
#speudo{
  background: url('../img/speudo.png') no-repeat;
  width: 151px;
  height: 53px;
  position: relative;
  clear: both;
  float: right;
  margin: -50px 130px 20px 0;
}
#speudo p{
  text-align: center;
  margin-left: 10px;
  margin: 0;
  line-height: 53px;
  font-size: 28px;
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  color: white;
}
#level{
  background: url('../img/level-background.png') no-repeat;
  height: 106px;
  width: 79px;
  margin-right: 180px;
  position: relative;
  clear: both;
  float: right;
}
#level p{
  line-height: 55px;
  font-size: 19px;
  margin: 0 0 0 12px;
  font-weight: 700;
  color: #b89e75;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
}
#level p span{
  background: url('../img/level-power.png') no-repeat;
  height: 67px;
  width: 67px;
  display: block;
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #f1f5e0;
  font-size: 45px;
  text-align: center;
  line-height: 67px;
  text-shadow: 0px 4px 0px  rgba(185, 55, 32, 1);
  position: absolute;
  top: -8px;
  right: -50px;
}
#panneau{
  width: 228px;
  height: 129px;
  margin: -40px 35px 0 0;
  position: relative;
  clear: both;
  float: right;
  background: url('../img/panneau.png') no-repeat;
}
#money{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
  position: relative;
  width: 120px;
  float: right;
  margin: 0;
  margin-right: 16px;
}
#score{
  position: relative;
  float: right;
}
#score:before{
  background: url('../img/coin.png') no-repeat;
  content: '';
  width: 19px;
  height: 22px;
  display: block;
  float: right;
  margin-left: 8px;
}
#Date, #DateDernierClick{
  display: none;
}
#experience, #needExperience, #panneau p:first-of-type, #tweetIt{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
}
#experience{
  margin-right: 7px;
  margin-left: 20px;
}
#needExperience{
  font-size: 14px;
  color: #ddd1c5;
}
#panneau p:first-of-type{
  color: #d1bfa6;
  margin-bottom: 45px;
}
#tweetIt{
  font-size: 15px;
  color: white;
  background: url('../img/tweetIt.png') no-repeat;
  width: 76px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  float: left;
  text-decoration: none;
  margin-left: 16px;
}
.button-page{
  float: left;
  clear: both;
  margin-top: 20px;
}
#app .button-page:first-of-type{
  margin-top: 40px;
}
#personnage{
  margin-left: 50px;
  margin-top: 40px;
}



#appButton{
  background: #a87255;
}
#clickme{
  background: url('../img/clickme.png') no-repeat;
  width: 206px;
  height: 222px;
  border: 15px solid #916552;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}











