/************************************************************************/
/*	PAGE
/************************************************************************/


body{
	 background: #fff;
	 -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
}
::selection {
  background-color: transparent;
}
h1{
  /*
font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
*/
  padding: 0;
  margin: 0;
}
h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a4a3;
  padding: 0;
  margin: 0;
}
.wrapper{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.clear{
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  clear: both;
  visibility: hidden;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


/************************************************************************/
/*	LANDING
/************************************************************************/


/*************/
/*	HEADER LANDING
/*************/

.landing h2{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 36px;
  color: #8d8d8d;
  text-transform: uppercase;
}
.landing h3{
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 23px;
  color: #8d8d8d;
  text-transform: uppercase;
}

#header-landing{
  background: #ecebeb;
  border-bottom: 1px solid #8e8e8e;
}
.wrapper-landing{
  max-width: 1080px;
  margin: 0 auto;
}
#header-landing .wrapper-landing{
  padding-top: 80px;
}
.hl-left{
  float: left;
  margin-right: 117px;
  margin-bottom: -90px;
}
.hl-right{
  float: left;
}
#header-landing h1{
  margin-bottom: 115px;
}
#header-landing h2{
  padding: 0;
}
#header-landing p strong{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #b8b7b7;
  margin-right: 45px;
}
#header-landing p{
  margin-bottom: 50px;
}
#header-landing a{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #9c9492;
  background: #d9ceca;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}

/*************/
/*	WORK LANDING
/*************/

#work-landing h2{
  padding-top: 160px;
}
#work-landing p{
  font-size: 18px;
  color: #b8b7b7;
  margin: 0;
  text-align: center;
  width: 711px;
  display: block;
  margin: 0 auto;
}
#work-img-chain{
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*************/
/*	LIST LANDING
/*************/

#list-landing{
  background: #f9f9fa;
  border-bottom: 1px solid #8e8e8e;
  border-top: 1px solid #8e8e8e;
  margin: 80px 0;
  padding: 40px 0;
}
#list-landing ul{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
#list-landing ul li{
  max-width: 100%;
  text-align: center;
  float: left;
  width: 343px;
  margin-left: 25px;
}
#list-landing ul li:first-of-type{
  margin-left: 0;
}
#list-landing ul li p{
  font-size: 18px;
  color: #b8b7b7;
}
#list-landing ul li h3 span{
  font-weight: 500;
  font-size: 18px;
}

/*************/
/*	ESAY LANDING
/*************/

#easy-landing{
  margin-bottom: 80px;
}
#easy-landing .wrapper-landing{
  max-width: 945px;
}
#easy-landing p{
  color: #b8b7b7;
  font-size: 18px;
  margin: 0;
  width: 552px;
}
#easy-landing h2{
  text-align: left;
  padding-top: 130px;
}
#easy-landing p, #easy-landing h2{
  float: left;
}
#easy-landing img{
  float: right;
}

/*************/
/*	START LANDING
/*************/

#start-landing{
  background: #f9f9fa;
  border-top: 1px solid #8e8e8e;
  padding: 80px;
}
#start-landing p{
  text-align: center;
  margin: 0;
}
#start-landing a{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #9c9492;
  background: #d9ceca;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}






/*********************************      *****************       **********************/
/*	APP 
/*********************************       ****************       ***********************/



/************************************************************************/
/*	CREATION SEX
/************************************************************************/


#creationSex{
  max-width: 600px;
  margin: 0 auto;
}
h2{
  text-align: center;
}
/*
h1{
  padding: 15px 0;
  margin-top: 15px;
  border: 1px solid grey;
  text-align: center;
}
*/
h2{
  padding: 35px 0;
}

#chooseBoy{
  background: url('../img/creation-boy.png') no-repeat center center;
  z-index: 10;
}
#chooseGirl{
  background: url('../img/creation-girl.png') no-repeat center center;
  z-index: 5;
}
.choose{
  width: 258px;
  height: 188px;
  float: left;
  margin: 0 21px;
  margin-top: 50px;
  position: relative;
}
.choose img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: -48px;
}
.choose p{
  text-align: center;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b69d74;
  margin: 0;
  margin-top: -15px;
}
.choose a{
  display: block;
  height: 188px;
  width: 258px;
  text-decoration: none;
}
#chooseBoy:before{
  content:"OR";
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-size: 18px;
  height: 63px;
  width: 63px;
  border-radius: 100%;
  display: block;
  background: #a7a4a3;
  color: white;
  text-align: center;
  line-height: 63px;
  position: absolute;
  top: 50%;
  right: -50px;
  margin-top: -31px;
  z-index: 15;
  opacity: 1 !important;
}
.choose{
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#chooseBoy:hover, #chooseGirl:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#chooseBoy:hover #chooseBoy:before{
  opacity: 1 !important;
  z-index: 15;
}


/************************************************************************/
/*	CREATION FACE
/************************************************************************/


/*************/
/*	SLIDER
/*************/

.visibleNearby {
  width: 100%;
  background: #141414;
  color: #FFF;
  padding-top: 25px;
}
.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  background: #141414;
  width: 100%;
  position: static;
  float: left;
  left: auto;
  bottom: auto;
  text-align: center;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.9);  
  -moz-transform: scale(0.9); 
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) { 
  #gallery-1 {
    padding: 12px 0 12px;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
}

/*************/
/*	END SLIDER
/*************/

.face-button{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #a7a4a3;
  background: #e0dfd7;
  padding: 15px 15px;
  font-size: 21px;
  margin: 30px 30px 50px 0;
  float: left;
  text-decoration: none;
}












/************************************************************************/
/*	APP
/************************************************************************/


.app-page{
  background: #a87255;
}
#app{
  background: url('../img/background-app.png') center 26px no-repeat, url('../img/background-top.png') top center;
  height: 571px;
}
#app .wrapper{
  height: 571px;
}
#speudo{
  background: url('../img/speudo.png') no-repeat;
  width: 151px;
  height: 53px;
  position: relative;
  clear: both;
  float: right;
  margin: -50px 130px 20px 0;
}
#speudo p{
  text-align: center;
  margin-left: 10px;
  margin: 0;
  line-height: 53px;
  font-size: 28px;
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  color: white;
}
#level{
  background: url('../img/level-background.png') no-repeat;
  height: 106px;
  width: 79px;
  margin-right: 180px;
  position: relative;
  clear: both;
  float: right;
}
#level p{
  line-height: 55px;
  font-size: 19px;
  margin: 0 0 0 12px;
  font-weight: 700;
  color: #b89e75;
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
}
#level p span{
  background: url('../img/level-power.png') no-repeat;
  height: 67px;
  width: 67px;
  display: block;
  font-family: 'freightmicro_boldscregular', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #f1f5e0;
  font-size: 45px;
  text-align: center;
  line-height: 67px;
  text-shadow: 0px 4px 0px  rgba(185, 55, 32, 1);
  position: absolute;
  top: -8px;
  right: -50px;
}
#panneau{
  width: 228px;
  height: 129px;
  margin: -40px 35px 0 0;
  position: relative;
  clear: both;
  float: right;
  background: url('../img/panneau.png') no-repeat;
}
#money{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
  position: relative;
  width: 120px;
  float: right;
  margin: 0;
  margin-right: 16px;
}
#score{
  position: relative;
  float: right;
}
#score:before{
  background: url('../img/coin.png') no-repeat;
  content: '';
  width: 19px;
  height: 22px;
  display: block;
  float: right;
  margin-left: 8px;
}
#Date, #DateDernierClick{
  display: none;
}
#experience, #needExperience, #panneau p:first-of-type, #tweetIt{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  color: #b89e75;
  font-size: 21px;
  font-weight: 700;
}
#experience{
  margin-right: 7px;
  margin-left: 20px;
}
#needExperience{
  font-size: 14px;
  color: #ddd1c5;
}
#panneau p:first-of-type{
  color: #d1bfa6;
  margin-bottom: 45px;
}
#tweetIt{
  font-size: 15px;
  color: white;
  background: url('../img/tweetIt.png') no-repeat;
  width: 76px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  float: left;
  text-decoration: none;
  margin-left: 16px;
  overflow: hidden;
}
.button-page{
  float: left;
  clear: both;
  margin-top: 20px;
}
#app .button-page:first-of-type{
  margin-top: 40px;
}
#personnage{
  margin-left: 50px;
  margin-top: 40px;
}

/*************/
/*	BOUTON APP
/*************/


#appButton{
  background: #a87255;
}
#clickme{
  background: url('../img/clickme.png') no-repeat;
  width: 206px;
  height: 222px;
  border: 15px solid #916552;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}



#addchain{
  background: url('../img/addchain.svg') no-repeat;
  height: 48px;
  width: 48px;
  cursor: pointer;
}
#new_chain label{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 21px;
  color: #fcebed;
  background: #d99590;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}
.chainpop {
  background: #fdfcee;
  width: 450px;
  /*
border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
*/
}
#chainname{
  background: #f6ece0;
  border: none;
  padding: 15px;
}
::-webkit-input-placeholder {
   color: #be8984;
   font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif !important;
   font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}







/************************************************************************/
/*	SHOP
/************************************************************************/


#head-shop{
  background: #d57563;
  width: 92%;
  height: 30px;
  margin: 0 auto;
}
#head-shop li{
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  background: url('../img/shop/background-titre-item.png') no-repeat center center;
  font-size: 16px;
  color: #fdfbec;
  float: left;
  line-height: 30px;
  width: 135px;
  text-align: center;
}
#content-item{
  width: 90%;
  margin: 0 auto;
  background: url('../img/shop/content-item-background.svg') no-repeat center center;
  border: 6px solid #d57563;
  border-top: 5px solid #a25552;
  border-bottom: 5px solid #a25552;
}
.wrapper-item{
  height: 350px;
  width: 135px;     
  overflow: hidden;
  float: left
}
.col-item{
  height: 350px;
  width: 150px;
  overflow: auto;
}
.shop-item{
  width: 135px;
  height: 135px;
  text-indent: -9999px;
  background: url('../img/shop/shop-item-background.svg') no-repeat center top;
  margin: 0;
  cursor: pointer;
  position: relative;
}
.shop-item:after{
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-current:before{
  content: "";
  display: block;
  background: url('../img/shop/item-current.svg') no-repeat center 40px;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/*************/
/*	SHOP ITEM
/*************/

.shoes-1:after{
  background: url('../img/shop/shoes/shoes-1.svg') no-repeat center 40px;
}
.shoes-3:after{
  background: url('../img/shop/shoes/shoes-1.svg') no-repeat center 40px;
}





/*************/
/*	END SHOP ITEM
/*************/

#marchand{
  
  width: 100%;
  background: #5c8a83;
background: -moz-linear-gradient(top, #5c8a83 0%, #bddaab 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c8a83), color-stop(100%,#bddaab));
background: -webkit-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
background: -o-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
background: -ms-linear-gradient(top, #5c8a83 0%,#bddaab 100%);
background: linear-gradient(to bottom, #5c8a83 0%,#bddaab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c8a83', endColorstr='#bddaab',GradientType=0 );
}
#marchand .wrapper{
  background: url('../img/shop/marchand-back.svg') center 100px no-repeat;
  padding-bottom: 50px;
  margin-top: 50px;
}
#marchand img{
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}
#box-marchand{
  background: #fefcee;
  border: 8px solid #ce968f;
  position: relative;
  margin-top: -25px;
}
#box-marchand:before{
   background: url('../img/shop/box-text-background.svg') no-repeat;
   content: "";
   width: 58px;
  height: 30px;
  position: absolute;
  top: -29px;
  left: 380px;
}
#text-marchand{
  font-family: 'freightmicro_bookregular', helvetica, arial, sans-serif;
  font-size: 18px;
  color: #cf9788;
  max-width: 440px;
  padding: 20px;
 border-right: 1px solid #ce968f; 
 margin: 0;
 padding-bottom: 40px;
}
#text-marchand span{
  color: #bb6d58;
}
#buyIt, #tryIt{
  font-family: 'Syntax-LT-Std', helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  width: 70px;
  text-align: center;
  height: 39px;
  line-height: 42px;
  margin: 0;
  position: absolute;
}
#buyIt{
  color: #fdfbec;
  background: #acd4ac;
  border-bottom: 3px solid #528775;
  right: 16px;
  top: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#buyIt:hover{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=80);
  opacity: .8;
}
#tryIt{
  color: #cf9788;
  border-bottom: 2px dotted #cf9788;
  width: 50px;
  height: 30px;
  right: 25px;
  bottom: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
#tryIt:hover{
  border-bottom: 2px dotted transparent;
}


















